.header {
  background-color: #f7f1e3;
  position: fixed;
  z-index: 1000;
}


.header-first {
  height: 90px;
}
.title:hover{
  text-decoration: underline;
  text-decoration-color: white;
  color: black;
}


.header-second {
  height: 40px;
}
.menu-item{
  margin: 0 30px;
}
.dropdown-menu {
  margin: 0;
  background-color: #f7f1e3;
  left: auto;
  z-index: 2;
}


.nav-left {
  float: left;
}
.nav-right {
  float: right;
}
.nav-right i{
  font-size: 30px;
  margin: 0 10px;
  color: black;
}
.nav-right i:hover, .menu-title:hover{
  transform: scale3d(1.5, 1.5, 1.7);
}
